@model Byte[]

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teste</h2>

<div class="container">
    <div id="content">
        <h2>Gerando QR Code na ASP .NET MVC</h2>
        <div id="viewContent">
            @using (Html.BeginForm(null, null, FormMethod.Post))
            {
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label>Informe o texto para gerar o QR Code: </label>
                            </td>
                            <td>
                                <input type="text" name="qrTexto" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><button>Enviar</button></td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
        @{
            if (Model != null)
            {
                <h3>QR Code gerado com sucesso</h3>
                <img src="@String.Format("data:image/png;base64,{0}",
                             Convert.ToBase64String(Model))" width="150" height="150" />
            }
        }
    </div>
</div>