@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title:</h2>

<div class="container">
    <dl>
        <dt>Tecnologias Utilizadas:</dt>
        <dd>- Asp.net MVC 5</dd>
        <dd>- Entity Framework v6.0</dd>
        <dd>- Sql Server Express 2017</dd>
        <dd>- Bootstrap</dd>
        <dd>- Razor</dd>
        <dd>- QRCoder</dd>
    </dl>    
</div>
